/Fig2.20.bmp
/Fig2.20_rotated90.bmp
/Fig2.24(a).bmp
/gray_level_reduction.exe
/ImageProcessing2026Spring_hw_1.htm
/ImageProcessing2026Spring_hw_1b.htm
/output_16.bmp
/PlotTriangle.exe
/Rotate90.exe
/triangle.bmp
/triangle.exe